# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Archivos de entorno
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-*

# Archivos de caché
.npm
.eslintcache
.eslintrc
.prettierrc

# Directorio de backups
backups/
